<div *ngIf="formData"
  [formGroup]="formData">
  <div class=""
    formGroupName="individualTravelAsistance">
    <h3>{{ getFormPropVal(['individualTravelAsistance', 'subTitle']) }}</h3>
    <app-input [formPropPathArr]="['individualTravelAsistance', 'name']"
      [formData]="formData"></app-input>
    <app-input [formPropPathArr]="['individualTravelAsistance', 'apellidos', 'primero']"
      [formData]="formData"></app-input>
    <app-input [formPropPathArr]="['individualTravelAsistance', 'apellidos', 'segundo']"
      [formData]="formData"></app-input>
  </div>
</div>
