<div *ngIf="formData"
  [formGroup]="formData">
  <div formGroupName="individualTravelAsistance">
    <!-- Asistencia en Viaje Particulares -->

    <h2>{{getFormPropVal(['individualTravelAsistance', 'title']) }}</h2>

    <h3>currentStep: {{ getFormPropVal(['individualTravelAsistance', 'currentStep']) }}</h3>

    <!-- Paso 1 -->
    <div *ngIf="getFormPropVal(['individualTravelAsistance', 'currentStep']) === '1'">
      <app-form-simple [formData]="formData"></app-form-simple>
    </div>
    <!-- Paso 2 -->
    <div *ngIf="getFormPropVal(['individualTravelAsistance', 'currentStep']) === '2'">
      <app-form-complex [formData]="formData"></app-form-complex>
    </div>

  </div>

  <!-- Boton de siguiente -->
  <app-button [dataButton]="dataButton"
    (evClick)="next()"></app-button>
</div>
